.navbar {
  background: #ee5d69;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif
}

.navbar-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  color: #bfdbfe;
}